.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__hyVg {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__aNa3H {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.freeBox__aNa3H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__aNa3H > :global(.__wab_flex-container) > *,
.freeBox__aNa3H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aNa3H > :global(.__wab_flex-container) > picture > img,
.freeBox__aNa3H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section__mzfJs:global(.__wab_instance) {
  position: relative;
}
.freeBox__kk2Xm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__kk2Xm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__kk2Xm > :global(.__wab_flex-container) > *,
.freeBox__kk2Xm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kk2Xm > :global(.__wab_flex-container) > picture > img,
.freeBox__kk2Xm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kk2Xm {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kk2Xm > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kk2Xm > :global(.__wab_flex-container) > *,
  .freeBox__kk2Xm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kk2Xm > :global(.__wab_flex-container) > picture > img,
  .freeBox__kk2Xm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.freeBox__lopPq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__lopPq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__lopPq > :global(.__wab_flex-container) > *,
.freeBox__lopPq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lopPq > :global(.__wab_flex-container) > picture > img,
.freeBox__lopPq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lopPq {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__fwOpf {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.freeBox__gwi2P {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__hyLhT:global(.__wab_instance) {
  position: relative;
}
.svg__sEzHd {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__qZbUv {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__nImOv:global(.__wab_instance) {
  position: relative;
}
.svg__pXo7J {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__zssD3 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___2BWpc:global(.__wab_instance) {
  position: relative;
}
.svg__o2VeW {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___8SuAx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__gucEu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gucEu {
    width: 100%;
    min-width: 0;
  }
}
.img__og83Z {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__og83Z > picture > img {
  object-fit: cover;
}
.img__og83Z > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__adCzt {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__adCzt > picture > img {
  object-fit: cover;
}
.img__adCzt > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__opGIz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px 0px;
}
.freeBox__bTcP7 {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  width: 100%;
  bottom: 0%;
  height: auto;
  background: rgb(5, 5, 5);
}
.freeBox__gq2KP {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__mz9Ow {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.section__oPn6I:global(.__wab_instance) {
  align-self: center;
}
.freeBox__vsCk8 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 64px;
  min-width: 0;
}
.freeBox__vsCk8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__vsCk8 > :global(.__wab_flex-container) > *,
.freeBox__vsCk8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vsCk8 > :global(.__wab_flex-container) > picture > img,
.freeBox__vsCk8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__scBij:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___53JHb {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: sBaSq6KvrPlv */;
}
.svg__l9O1D {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__bez8N:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zbpts {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: sBaSq6KvrPlv */;
}
.svg__h3Z4 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__w9Z08:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qxLDr {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: sBaSq6KvrPlv */;
}
.svg__lSxCf {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___9NOqZ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gQeuH {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: sBaSq6KvrPlv */;
}
.svg__xRe9J {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__oHyHj:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__hGZgY {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: sBaSq6KvrPlv */;
}
.svg__ni3Z4 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__amTrG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__j0VGa {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: sBaSq6KvrPlv */;
}
.svg__nIQo3 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__b4Hfo {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: TzSMiYzvqnER */;
}
.freeBox__ccmSs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__m5OKa {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.freeBox__m5OKa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__m5OKa > :global(.__wab_flex-container) > *,
.freeBox__m5OKa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m5OKa > :global(.__wab_flex-container) > picture > img,
.freeBox__m5OKa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.section__md6Yp:global(.__wab_instance) {
  position: relative;
}
.freeBox__lq6Co {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__lq6Co > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__lq6Co > :global(.__wab_flex-container) > *,
.freeBox__lq6Co > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lq6Co > :global(.__wab_flex-container) > picture > img,
.freeBox__lq6Co
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__evBL {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg___85B0R {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__fCkFs {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg___5Cfc0 {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__b1Iwk {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
