.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__jaPyl {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.freeBox__jaPyl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__jaPyl > :global(.__wab_flex-container) > *,
.freeBox__jaPyl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jaPyl > :global(.__wab_flex-container) > picture > img,
.freeBox__jaPyl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox___9KXvW {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___9KXvW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___9KXvW > :global(.__wab_flex-container) > *,
.freeBox___9KXvW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9KXvW > :global(.__wab_flex-container) > picture > img,
.freeBox___9KXvW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9KXvW {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9KXvW > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9KXvW > :global(.__wab_flex-container) > *,
  .freeBox___9KXvW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9KXvW > :global(.__wab_flex-container) > picture > img,
  .freeBox___9KXvW
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__uoros {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 61.05%;
  height: 428px;
}
.freeBox__uoros > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__uoros > :global(.__wab_flex-container) > *,
.freeBox__uoros > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uoros > :global(.__wab_flex-container) > picture > img,
.freeBox__uoros
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uoros {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__u1Y5D {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.freeBox__oi3Gf {
  position: relative;
  text-align: left;
}
.bullet___0Mj1P:global(.__wab_instance) {
  position: relative;
}
.bullet__fVks:global(.__wab_instance) {
  position: relative;
}
.bullet__rkv96:global(.__wab_instance) {
  position: relative;
}
.freeBox__lEeL {
  position: relative;
  text-align: left;
}
.freeBox__nLsBb {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__nLsBb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__nLsBb > :global(.__wab_flex-container) > *,
.freeBox__nLsBb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nLsBb > :global(.__wab_flex-container) > picture > img,
.freeBox__nLsBb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nLsBb {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nLsBb > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nLsBb > :global(.__wab_flex-container) > *,
  .freeBox__nLsBb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nLsBb > :global(.__wab_flex-container) > picture > img,
  .freeBox__nLsBb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__qMvSf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qMvSf {
    width: 100%;
    min-width: 0;
  }
}
.img___2ZfnJ {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___2ZfnJ > picture > img {
  object-fit: cover;
}
.img___2ZfnJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__eskAp {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__eskAp > picture > img {
  object-fit: cover;
}
.img__eskAp > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__jr5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__jr5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__jr5 > :global(.__wab_flex-container) > *,
.freeBox__jr5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jr5 > :global(.__wab_flex-container) > picture > img,
.freeBox__jr5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jr5 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jr5 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jr5 > :global(.__wab_flex-container) > *,
  .freeBox__jr5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jr5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__jr5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__zmDnt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zmDnt {
    width: 100%;
    min-width: 0;
  }
}
.img__st76F {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__st76F > picture > img {
  object-fit: cover;
}
.img__st76F > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ffQ7K {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__ffQ7K > picture > img {
  object-fit: cover;
}
.img__ffQ7K > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__bhXh6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__bhXh6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__bhXh6 > :global(.__wab_flex-container) > *,
.freeBox__bhXh6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bhXh6 > :global(.__wab_flex-container) > picture > img,
.freeBox__bhXh6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bhXh6 {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__atIyL {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.freeBox__ycRs4 {
  position: relative;
  text-align: left;
}
.bullet__xnnA1:global(.__wab_instance) {
  position: relative;
}
.bullet__iUaIr:global(.__wab_instance) {
  position: relative;
}
.bullet__iUd2J:global(.__wab_instance) {
  position: relative;
}
.freeBox__cmSgb {
  position: relative;
  text-align: left;
}
.freeBox__bRd2J {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.freeBox__bRd2J > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__bRd2J > :global(.__wab_flex-container) > *,
.freeBox__bRd2J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bRd2J > :global(.__wab_flex-container) > picture > img,
.freeBox__bRd2J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bRd2J {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bRd2J > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bRd2J > :global(.__wab_flex-container) > *,
  .freeBox__bRd2J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bRd2J > :global(.__wab_flex-container) > picture > img,
  .freeBox__bRd2J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
